{
    "parser": "@babel/eslint-parser",
    "parserOptions": {
            "requireConfigFile": false
         },
    "extends": ["prettier"],
    "rules": {
      "no-param-reassign": [
        "error",
        {
          "props": false
        }
      ],
      "func-names": 0,
      "no-console": 0,
      "class-methods-use-this": [
        "error",
        { "exceptMethods": ["total", "isEmpty", "submit", "handleRichLabel"] }
      ]
    },
    "env": {
      "browser": true,
      "commonjs": true,
      "es6": true,
      "jquery": true
    }
  }